---
import { ComposedCarousel } from '../carousel'
import ImageCard from './image_card.astro'

type Props = {
  images: {
    src: ImageMetadata
    alt: string
    caption?: string
  }[]
}

const { images } = Astro.props
---

<div class="flex w-full flex-col items-center gap-4">
  <ComposedCarousel client:load>
    {images.map(({ src, alt }) => <ImageCard src={src} alt={alt} />)}
  </ComposedCarousel>
</div>
