---
import { ComposedCarousel } from '../ui/carousel'

type Props = {
  images: {
    src: string
    alt: string
    caption?: string
  }[]
}

const { images } = Astro.props
---

<div class="flex w-full flex-col items-center gap-4">
  <ComposedCarousel client:load images={images} />
</div>
