---
import Base from '@/layouts/base.astro'
---

<Base meta={{ title: 'About' }}>
  <h2>About</h2>

  <div class="w500:text-sm w500:leading-[2.2] mt-4 tracking-wide">
    <p>
      This is neobrutailsm blog template. Check the <a
        class="underline"
        target="_blank"
        href="https://github.com/neobrutalism-templates/blog">github repo</a
      > for more info.
    </p>
  </div>
</Base>
