---
export const prerender = false

import config from '@/config'
import { getCollection } from 'astro:content'

import Base from '@/layouts/base.astro'
import AllTrailsMap from '@/components/maps/all_trails.astro'
import UpcomingEvents from '@/components/events/upcoming.astro'
---

<Base meta={{ title: config.title }}>
  <section class="mb-12">
    <h2 class="mb-4 text-2xl font-bold">Upcoming events</h2>
    <UpcomingEvents />
  </section>

  <section class="mb-12">
    <h2 class="mb-4 text-2xl font-bold">Recent Feed</h2>
    <p>COMING SOON</p>
  </section>

  <section>
    <h2 class="mb-4 text-2xl font-bold">Trails</h2>
    <AllTrailsMap />
  </section>
</Base>
