@import 'tailwindcss';
@plugin 'tailwind-scrollbar';
@plugin '@tailwindcss/typography';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  /* Colours */
  --color-main: #fd9745;
  --color-main-accent: #ffc800;
  --color-overlay: rgba(0, 0, 0, 0.8);

  --color-bg: #fff4e0;
  --color-text: #000;
  --color-border: #000;

  --color-dark-bg: #374151;
  --color-dark-text: #eeefe9;
  --color-dark-border: #000;
  --color-secondary-black: #212121;

  /* Font */
  --font-sans:
  'National Park', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-weight-base: 400;
  --font-weight-heading: 600;

  /* Borders */
  --radius-base: 10px;

  /* Box shadows */
  --shadow-light: 4px 2px 0px 0px #000;
  --shadow-dark: 0px 4px 0px 0px #000;
}

@custom-variant w700 {
  @media screen and (max-width: 700px) {
    @slot;
  }
}

@custom-variant w500 {
  @media screen and (max-width: 500px) {
    @slot;
  }
}

@custom-variant w400 {
  @media screen and (max-width: 400px) {
    @slot;
  }
}

mark {
  @reference bg-main;
}