---
import '@/global.css'

import config from '@/config'

import BaseHead from '@/components/base_head.astro'
import Nav from '@/components/nav.astro'
import Footer from '@/components/footer.astro'

import '@fontsource/national-park/400.css'
import '@fontsource/national-park/600.css'

const {
  meta: { title, description = config.description },
} = Astro.props
---

<html lang={config.lang}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-bg font-base text-text mx-auto max-w-[900px] px-5">
    <Nav />
    <main
      class="w500:min-h-[calc(100dvh-70px)] w400:pt-[140px] min-h-[calc(100dvh-70px)] pt-[120px] pb-10"
    >
      <div
        class="prose prose-headings:font-heading prose-headings:text-text prose-a:text-text prose-blockquote:text-text prose-strong:text-text prose-ol:text-text prose-ul:text-text prose-table:text-text prose-tr:text-text prose-td:text-text w500:prose-h1:text-xl w500:prose-h2:text-lg w500:prose-h3:text-base w500:prose-h4:text-sm w500:prose-h5:text-sm w500:prose-h6:text-sm text-text w500:text-sm w500:leading-[2.2] w400:text-xs w400:leading-[2.2] w-full min-w-full leading-loose"
      >
        <slot />
        <div></div>
        <Footer />
      </div>
    </main>
  </body>
</html>
