---
import Base from '@/layouts/base.astro'

const { title } = Astro.props
---

<Base meta={{ title }}>
  <div
    id="markdown"
    class="prose prose-headings:font-heading prose-headings:text-text prose-a:text-text prose-blockquote:text-text prose-strong:text-text prose-ol:text-text prose-ul:text-text prose-table:text-text prose-tr:text-text prose-td:text-text w500:prose-h1:text-xl w500:prose-h2:text-lg w500:prose-h3:text-base w500:prose-h4:text-sm w500:prose-h5:text-sm w500:prose-h6:text-sm text-text w500:text-sm w500:leading-[2.2] w400:text-xs w400:leading-[2.2] w-full min-w-full leading-loose"
  >
    <slot />
  </div>
</Base>
