---
import Layout from '@/layouts/base.astro'
import UpcomingEvents from '@/components/events/upcoming.astro'
---

<Layout meta={{ title: 'Upcoming events' }}>
  <h2>Upcoming Events</h2>
  <div class="grid md:grid-cols-2">
    <UpcomingEvents />
  </div>
</Layout>
